In [1]:
# Q1:   Print the poem

print (" Twinkle, twinkle, little star,")
print ("          How I wonder what you are!")
print ("                   Up above the world so high,")
print ("                   Like a diamond in the sky.")
print (" Twinkle, twinkle, little star,")
print ("          How I wonder what you are!")

 Twinkle, twinkle, little star,
          How I wonder what you are!
                   Up above the world so high,
                   Like a diamond in the sky.
 Twinkle, twinkle, little star,
          How I wonder what you are!

In [2]:
#Q2  Display Python Version

import sys
print (sys.version)

3.8.5 (default, Sep  3 2020, 21:29:08) [MSC v.1916 64 bit (AMD64)]

In [3]:
#Q3 Display Time and Date


import datetime 
t= datetime.datetime.now()
print (t)

2022-01-01 19:57:45.517649

In [4]:
#Q4 Compute Area

r= input ("Enter Radius :")
r= float (r)
a= 3.14 * r * r

print ("Area is : ", a)

Enter Radius :10
Area is :  314.0

In [5]:
#Q5 Display Names in Reverse order

a= input ("Enter fist name : ")
b= input ("Enter second name : ")

print ("Reverse name : " ,b ,'',a)

Enter fist name : Zain
Enter second name : Haider
Reverse name :  Haider  Zain

In [6]:
a= input ("Enter fist number : ")
b= input ("Enter second number : ")

a= int (a)
b= int (b)

c= a+b

print ("Sum is : ",c)

Enter fist number : 30
Enter second number : 50
Sum is :  80